@media (max-width: 991px)
    .container
        width: 80%
    .md_invisible
        display: none
    
    .advantage
        &__items
            justify-content: center
        &__item
            margin: 0 49px 50px 49px
            width: 205px
    .carousel
        padding: 50px 0
        &__inner
            img
                width: 100%
    .catalog
        &__content
            justify-content: center
        &-item
            width: 250px
            min-height: 400px
            img
                height: 150px
            &__price
                font-size: 17px

    .button
        &_buy
            width: 110px           
        
@media (max-width: 767px)
    .promo
        min-height: 0
        padding-bottom: 41px
        &__wrapper
            padding-top: 55px
        &__title
            font-size: 35px
        &__subtitle
            font-size: 20px
            padding-top: 5px
        &__icons
            margin-top: 40px
            width: 100%
    .advantage
        &__items
            margin-top: 55px
        &__item
            margin: 0 30px 40px 30px
            width: 190px
            img
                margin-bottom: 30px
                width: 35%
        &__title
            margin-bottom: 18px
            font-size: 17px
        &__descr
            font-size: 13px

    .consultation
        min-height: 0
        padding: 70px 0 62px 0
        &__descr
            margin-top: 60px

    .feed-form
        margin-top: 30px

    .sect-title
        &_consultation
            font-size: 30px

    .carousel
        &__inner
            img
                width: 80%

    .catalog
        &__content
            justify-content: center
            margin-top: 45px
        &__tab
            width: 140px
            height: 35px
            div
                line-height: 35px
                font-size: 14px
        &-item
            width: 220px
            min-height: 350px
            &__face
                min-height: 250px
            img
                height: 100px
            &__title
                font-size: 15px
            &__price
                font-size: 15px
            &__descr
                font-size: 12px
            &__more, &__back
                font-size: 12px
            &__list
                li
                    font-size: 12px
                    margin-bottom: 10px
            hr
                width: 175px
                margin: 18px 0
            &__price
                font-size: 15px
                &_previous
                    font-size: 12px

    .button
        &_buy
            width: 90pxr
            font-size: 12px
    
    .footer
        &__info
            width: 100%
            top: 100%

                


@media  (max-width: 575px)
    .sm_invisible
        display: none

    .header_sm-visible
        width: 100%
        background-color: $main-color
        position: fixed
        overflow: overlay
        z-index: 10
        display: block
        &__logo
            img
                width: 60%
                display: block
                margin: 0 auto
                padding: 10px 0

    .promo
        &__wrapper
            display: block
            margin: 0 auto
        &__title
            text-align: center
            font-size: 30px
        &__subtitle
            text-align: center
            font-size: 15px
        &__icons
            width: 100%
            flex-direction: column
            align-items: center
        &__icon
            margin-bottom: 40px
            width: auto
            font-size: 12px
            img
                margin-bottom: 10px
        .button_main
            width: auto
            padding: 8px
            display: block
            margin: 0 auto
            margin-top: 15px

    .sect-title
        font-size: 25px
        &_consultation
            text-align: center
    
    .consultation
        padding: 50px 0 42px 0
        &__descr
            margin-top: 30px
            width: 100%
            padding: 0 20px
            text-align: center
            font-size: 16px
    .feed-form
        margin-top: 20px
        &__input
            width: 100%
    .button_form
        margin: 0 auto
        width: auto
            

    .advantage
        min-height: 0
        padding: 55px 0 25px 0
        &__items
            margin-top: 45px
        &__item
            margin: 0 30px 30px 30px
            img
                margin-bottom: 20px
                width: 30%
        &__title
            margin-bottom: 10px
            font-size: 16px
        &__descr
            font-size: 12px
    .tns
        &-nav
            button
                width: 10px
                height: 18px
            &-active
                width: 21px !important
                height: 21px !important

    .catalog
        padding-bottom: 60px
        &__content
            justify-content: center
            margin-top: 25px
        &__tabs
            flex-direction: column
            align-items: center
        &__tab
            width: 200px
            height: 45px
            margin-bottom: 15px
            div
                line-height: 44px
                font-size: 16px
        &-item
            width: 220px
            min-height: 300px
            margin: 10px 5px
            &__face
                min-height: 240px
            img
                height: 120px
            &__title
                font-size: 15px
            &__price
                font-size: 15px
            &__descr
                font-size: 12px
            &__more, &__back
                font-size: 12px
            &__list
                li
                    font-size: 12px
                    margin-bottom: 10px
            &__back
                transform: translateX(calc( -50% - 12px ))
            hr
                width: 180px
                margin: 15px 0
            
            &__footer
                flex-direction: column
                justify-content: center

            &__price
                text-align: center
                font-size: 21px
                margin-bottom: 13px
                &_previous
                    font-size: 17px
                    margin-bottom: 7px
                    text-align: center
                    font-size: 12px

    .button
        &_buy
            width: 70%
            font-size: 16px
            height: 30px
        

    .reviews
        padding-bottom: 40px
        text-align: center
        &__content
            margin-top: 30px
        &__item
            flex-direction: column
            align-items: center
            img
                width: 40%
        hr
            margin: 30px 0
        &__descr
            padding-left: 0
            padding-top: 15px
        &__man-descr
            font-size: 13px
        
    .footer
        height: 100%
        &__info
            width: 100%
            height: 200px
            padding-top: 30px
        &__social
            margin-top: 20px
            &-item
                &:hover    
                    display: block
                    width: 50px
                    height: 50px
                    border-radius: 100%
                    border: solid 2px #ffffff
                    position: relative
                    margin: 0 15px
                    background-color: rgba(0, 0, 0, 0)

