@import _variable&mixins/add
@import stylesheet
@import _blocks/_header
@import _blocks/_button
*
    font-family: $main-font

.sect-title
    font-size: 30px
    font-weight: 700
    color: #0d0d0d
    text-align: center

.container
    max-width: 950px
    margin: 0 auto

@import _blocks/_promo
        
@import _blocks/_advantage
    
@import _media

